
.text-shadows{
    text-shadow: 0 0 10px black;
}

.image{
    background-image: url('images/main_bg.png');
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; !important
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none; !important /* IE and Edge */
    scrollbar-width: none; !important /* Firefox */
}
